# Examen Demo

In [24]:
# Your imports HERE !!!!
import numpy as np
import pandas as pd

## 01
- Dado un diccionario con una lista de nombres de películas y el año concatenado, crear una función que devuelva un DataFrame con dos columnas:
  - Columna 1, el nombre de la película sin el año
  - Columna 2, el año de la película

In [ ]:
# Your solution HERE !!!!


def extract_year(movies):
    df = pd.DataFrame(movies)
    df[['Name', 'Year']] = df['Name'].str.split(' - ', n=1, expand=True)
    return df

#Other:
def extract_year2(movies):
    df = pd.DataFrame(movies)
    # Extract year (last 4 digits)
    df['Year'] = df['Name'].str.extract(r'(\d{4})$') # last 4 digits
    # Remove ' - YEAR' from the name
    df['Name'] = df['Name'].str.replace(r'\s*-\s*\d{4}$', '', regex=True) # - and last 4 digits
    return df

In [32]:
movies = {'Name': ["Matrix - 1999", "Cadena Perpetua - 1994", "Parasitos - 2019", "Vengadores, Endgame - 2019", "Interstellar - 2014",
                   "Django Desencadenado - 2012", "El Padrino - 1972", "El Caballero Oscuro - 2008", "Erase Una Vez En America - 1984",
                   "El Senyor de los Anillos, La Comunidad del Anillo - 2001"]}
expected_output = pd.DataFrame({'Name':["Matrix", "Cadena Perpetua", "Parasitos", "Vengadores, Endgame", "Interstellar", "Django Desencadenado",
                                        "El Padrino", "El Caballero Oscuro", "Erase Una Vez En America", "El Senyor de los Anillos, La Comunidad del Anillo"],
                                'Year':["1999", "1994", "2019", "2019", "2014", "2012", "1972", "2008", "1984", "2001"]})
output = extract_year(movies)   # This will call your function extract_year
display(output)
assert(expected_output.equals(output))  # This will fail if the result is not as expected

                                                Name  Year
0                                             Matrix  1999
1                                    Cadena Perpetua  1994
2                                          Parasitos  2019
3                                Vengadores, Endgame  2019
4                                       Interstellar  2014
5                               Django Desencadenado  2012
6                                         El Padrino  1972
7                                El Caballero Oscuro  2008
8                           Erase Una Vez En America  1984
9  El Senyor de los Anillos, La Comunidad del Anillo  2001

## 02
- Crear una función que reciba un array de NumPy y devuelva otro en el cual estén marcados como True los elementos duplicados (a partir de la segunda ocurrencia), y como False los no repetidos o las primeras ocurrencias de los duplicados.

In [46]:
# Your solution HERE !!!!

def find_duplicates(arr):
    numbers = np.array([4, 4, 4, 3, 8, 1, 9, 6, 1, 5, 9, 4, 0, 2])
    nondup = set(numbers)
    result = []
    for element in numbers:
        if element in nondup:
            nondup.discard(element)
            result.append(False)
        else: 
            result.append(True)
    return np.array(result)

numbers = np.array([4, 4, 4, 3, 8, 1, 9, 6, 1, 5, 9, 4, 0, 2])
output = find_duplicates(numbers)
print(output)

[False  True  True False False False False False  True False  True  True
 False False]

In [47]:
numbers = np.array([4, 4, 4, 3, 8, 1, 9, 6, 1, 5, 9, 4, 0, 2])
expected_output = np.array([False, True, True, False, False, False, False, False, True, False, True, True, False, False])
output = find_duplicates(numbers)   # This calls your function find_duplicates
print(output)
assert(np.array_equal(expected_output, output))  # This will fail if the result is not as expected

[False  True  True False False False False False  True False  True  True
 False False]

## 03
- Resolución de dos sistemas de ecuaciones
    - $ A : \begin{cases} -9x +  4y = 20 \\ -7y + 16x = 80                         \end{cases}$
    
    - $ B : \begin{cases} x - 2y + 3z = 7 \\ 2x + y + z = 4 \\ -3x + 2y -2z = -10 \end{cases}$
- Verifica por código los resultados

In [57]:
# Your solution HERE !!!!

import numpy.linalg as linalg
import math

# resolver sistema de ecuaciones
# Ax = b --> resolver para x

# -9x + 4y = 20
# 16x - 7y = 80

a1 = np.array([ [-9,4], [16,-7] ])
a2 = np.array([20,80])

x,y = linalg.solve(a1,a2)
print(f'x={round(x)} y={round(y)}')

# Validate
print(math.isclose(-9*x + 4*y, 20))
print(math.isclose(16*x - 7*y, 80))

# x -2y + 3z = 7
# 2x + y + z =4
# -3x + 2y -2z = -10 

b1 = np.array([ [1,-2,3], [2,1,1], [-3,2,-2] ])
b2 = np.array([7,4,-10])

x,y,z = linalg.solve(b1,b2)
print(f'x={round(x)} y={round(y)} z={round(z)}')

#validate

print(math.isclose(x - 2*y +3*z, 7))
print(math.isclose(2*x + y + z, 4))
print(math.isclose(-3*x + 2*y - 2*z, -10))

x=460 y=1040
True
True
x=2 y=-1 z=1
True
True
True

## 04
- Crear un objeto Series con 10 elementos, que contenga más de un tipo básico, con índices de tipo string
- Demuestra que los datos con índices posicionales son los mismos que los obtenidos con índices semánticos, seleccionando a través de slicing, al menos 4 elementos de la serie anterior

In [59]:
# Your solution HERE !!!!

import pandas as pd

serie = pd.Series(
    [1, "dos", 3.0, True, None, 5, "seis", 7.7, False, "diez"],
    index=["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
)
print(serie)

# Selección por índices posicionales (del 2 al 5, sin incluir el 6)
print(serie[2:6])

# Selección por índices semánticos equivalentes ('c' a 'f', incluyendo ambos)
print(serie['c':'f'])

a        1
b      dos
c      3.0
d     True
e     None
f        5
g     seis
h      7.7
i    False
j     diez
dtype: object
c     3.0
d    True
e    None
f       5
dtype: object
c     3.0
d    True
e    None
f       5
dtype: object

## 05
- Crear un DataFrame de dimensiones 10x10, con números aleatorios en el rango `[0,20]`
- Reemplazar todos aquellos elementos menores de 5 por NaN
- Averiguar cuantos elementos tienen Nan por fila

In [60]:
# Your solution HERE !!!!

import pandas as pd
import numpy as np

# Crear DataFrame 10x10 con números aleatorios entre 0 y 20
df = pd.DataFrame(np.random.randint(0, 21, size=(10, 10)))

# Reemplazar elementos menores de 5 por NaN
df[df < 5] = np.nan

# Contar cuántos NaN hay por fila
nans_por_fila = df.isna().sum(axis=1)
print(nans_por_fila)

0    1
1    1
2    3
3    5
4    4
5    2
6    1
7    1
8    2
9    1
dtype: int64

## 06
- Dada una lista de elementos, crea una función que devuelva un dataframe sin los elementos duplicados

In [ ]:
# Your solution HERE !!!!
def remove_duplicates(serie):
    return pd.DataFrame(pd.Series(serie).unique())

    #df = pd.DataFrame(serie)
    #df = np.unique(df)
    #return pd.DataFrame(df)

In [83]:
serie = ['a','b','c','a','c','a','g']
expected_output = pd.DataFrame(['a','b','c','g'])
output = remove_duplicates(serie)   # This will call tour function remove_duplicates
assert(expected_output.equals(output))  # This will fail if the result is not as expected

## 07 - 1pt
- Escribir un generador `frange` que simule el comportamiento de la función `arange` de NumPy
- Esta función cada vez que se invoque debe devolver valores espaciados uniformemente a partir de un valor inicial. Se debe proveer a dicha función un valor inicial para la secuencia de números y un valor para el step
- Debe soportar valores númericos en coma flotante
- La función potencialmente se puede llamar un número infinito de veces
- Usando plain Python, sin ninguna librería

In [ ]:
# Your solution HERE !!!!
def frange(start, step):
    current = start
    while True: # This creates an infinite loop, so the function can generate an unlimited sequence of numbers.
        yield current 
        # The function yields (returns) the current value. This makes frange a generator, so each time you call next() on it, it resumes from here.
        current += step

In [ ]:
import math

init = 10.6
step = 0.8
g = frange(init, step)  # This calls your function frange and initializaes it

iters = 10
numbers = [next(g) for n in range(iters)]
# The loop repeats: the next call to next() yields the new current value, and so on, forever.
for i, n in enumerate(numbers):
    assert(math.isclose(n, init + (step * i)))  # This will fail if the range is not properly created
print(numbers)

[10.6, 11.4, 12.200000000000001, 13.000000000000002, 13.800000000000002, 14.600000000000003, 15.400000000000004, 16.200000000000003, 17.000000000000004, 17.800000000000004]

## 08
- Crear una función que reciba una Serie de Pandas y devuelva esa misma serie, reemplazando los espacios en blanco por el carácter menos frecuente en dicha serie.

In [86]:
# Your solution HERE !!!!

import pandas as pd

def clean_whitespace_replace(serie):
    # Exclude spaces to find the least frequent character
    value_counts = serie[serie != ' '].value_counts()
    least_frequent = value_counts.idxmin()
    # Replace spaces with the least frequent character
    return serie.replace(' ', least_frequent)

In [87]:
serie = pd.Series(list('bba cabc faabba aacbbfe'))
expected_output = pd.Series(list('bbaecabcefaabbaeaacbbfe'))
output = clean_whitespace_replace(serie)  # This calls your function clean_whitespace_replace
assert(expected_output.equals(output))  # This will fail if result is not as expected